* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
}

li{
    list-style:none;
}

.container{
    max-width:1440px;
    width:100%;
    margin:0 auto;
}

/*エラー文字を赤に*/
.err {
    color: red;
    text-align:left;
}

.btn{
    color:white;
    background-color:#1B5678;
    display:block;
    height:53px;
    width:232px;
    border-radius:4px;
    font-size:18px;
    margin:auto;
    line-height:53px;
    text-align:center;

    transition: none;
    border: none;
    padding: 0;
    appearance: none;
   -webkit-appearance: none;
}

.btn:hover{
    cursor: pointer;
}

/*header*/
header{
    width:100%;
    height:120px;
    background-color:#1B5678;
    text-align:center;
}

header .header-title{
    color:#FFFFFF;
    font-weight:bold;
    font-size:36px;
    height:42px;
    margin:39px 40px;
    text-decoration: none;
    display:block;

}

.header-left{
    float:left;
}

.logout-btn{
    color:#000000BF;
    background-color: white;

    font-size:18px;
    height:53px;
    width:170px;
    float:right;
    border-radius:4px;
    margin:34px 40px 33px 40px;
    
    /*以下でbtn内の文字を中央に*/
    line-height:53px;
    text-align:center;

    transition: none;
    border: none;
    padding: 0;
    appearance: none;
   -webkit-appearance: none;
}

.logout-btn:hover{
    cursor: pointer;
}

/*main*/
.learning-data-add-main{
    padding-top:80px;
    padding-bottom:388px;
    text-align: center;
}

.learning-data-add-main .title{
    font-size:36px;
    height:48px;
    margin-bottom:80px;
    color:#000000BF;
}

.form-all{
    width:480px;
    text-align:center;
    margin: 0 auto;
}

.form{
    width: 100%;
    margin:0 auto 48px auto;
}

.form-control{
    width:100%;
    height:36px;
    border:none;
    outline:none;
    border-bottom:1px solid #000000;
    font-size:16px;
    padding:10px 0;
}

.form-label{
    font-size:12px;
    line-height:12px;
    text-align:left;
    display:block;
}

.form p{
    font-size:12px;
    height:20px;
    width:148px;
    color:#0000008A;
    margin:0;
    text-align:left;
}

/*modal*/
.modal{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background: 
        linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.data-add-modal{
    width:640px;
    height:240px;
    padding:40px;

    background-color: #FFFFFF;

    box-shadow: 0px 4px 4px 0px #00000040;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

.data-add-modal p{
    width:251px;
    font-size: 18px;
    font-weight:bold;
    color:#000000BF;
    text-align: center;
    margin:0 auto 40px auto;
    overflow-wrap: break-word;
}

.back-to-learningDataPage-btn{
    width:192px;
    height:48px;
    margin:0 auto;
    text-decoration: none;
}

/*footer*/
footer{
    background-color:#1B5678;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer p{
    display:inline-block;
    color:#FFFFFF;
    font-size:18px;
    margin:0;
}