* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
}

li{
    list-style:none;
}

.container{
    max-width:1440px;
    width:100%;
    margin:0 auto;
}

/*エラー文字を赤に*/
.err {
    color: red;
    text-align:left;
}

.btn{
    color:white;
    background-color:#1B5678;
    display:block;
    height:53px;
    width:322px;
    border-radius:4px;
    font-size:18px;
    margin:auto;
    line-height:53px;
    text-align:center;

    transition: none;
    border: none;
    padding: 0;
    appearance: none;
   -webkit-appearance: none;
}

.btn:hover{
    cursor: pointer;
}

/*header*/
header{
    width:100%;
    height:120px;
    background-color:#1B5678;
    text-align:center;
}

header .header-title{
    color:#FFFFFF;
    font-weight:bold;
    font-size:36px;
    height:42px;
    margin:39px 40px;
    text-decoration: none;
    display:block;

}

.header-left{
    float:left;
}

.logout-btn{
    color:#000000BF;
    background-color: white;

    font-size:18px;
    height:53px;
    width:170px;
    float:right;
    border-radius:4px;
    margin:34px 40px 33px 40px;
    
    /*以下でbtn内の文字を中央に*/
    line-height:53px;
    text-align:center;

    transition: none;
    border: none;
    padding: 0;
    appearance: none;
   -webkit-appearance: none;
}

.logout-btn:hover{
    cursor: pointer;
}

/*main*/
.learning-area{
    width:960px;
    margin:0 auto;
    padding-bottom:87px;

}

.month-select-area{
    margin-top:40px;
}

.month-form{
    display:inline-block;
    position:relative;
}

.month-select{
    width:94px;
    height:44px;
    padding:8px 16px;
    font-size:24px;
    font-weight:bold;
    color:#000000;
    background-color: #FFFFFF;
    border:1px solid #DDDDDD;
    border-radius:4px;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;

}

.month-form::after{
    content:"▼";
    position:absolute;
    top:50%;
    left:62px;
    pointer-events:none;
    transform: translateY(-50%);

    font-size:12px;
}

.category-box{
    width:100%;
    padding:40px;
    margin-top:40px;
    border:1px solid #00000080;
    border-radius:8px;
}

.category-header{
    display:flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom:32px;
}

.category-header h2{
    width:240px;
    font-size:24px;
    line-height: 28px;
    padding-bottom:16px;
    margin:0;
    border-bottom:2px solid #00000080;
}

.add-data-btn{
    width:178px;
    height:48px;
    font-size:14px;
    text-decoration: none;
    margin:0;
}

.table-scroll{
    max-height:276px;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow:
        0px 1px 5px 0px #0000001F,
        0px 2px 2px 0px #00000024,
        0px 3px 1px -2px #00000033;

}

/*table*/
.learning-table{
    width:100%;
    border-collapse:separate;
    border-spacing:0;
    table-layout:fixed;
}

.learning-table th:nth-child(1){
    width:240px;
    padding:16px 16px 16px 40px;
}

.learning-table th:nth-child(2){
    width:440px;
    padding:16px;
}

.learning-table th:nth-child(3){
    width:200px;
    padding:16px 40px;
}

.learning-table td:nth-child(1){
    width:240px;
    padding:16px 16px 16px 40px;
    overflow-wrap: anywhere;
}

.learning-table td:nth-child(2){
    width:440px;
    padding:16px;
}

.learning-table td:nth-child(3){
    width:200px;
    padding:16px 40px;
}

.learning-table thead th{
    position:sticky;
    top:0;
    z-index:1;
    height:57px;
    font-weight:normal;
    text-align:left;
    background-color: #FFFFFF;
}

.learning-table td{
    height:73px;
    font-size:14px;
    line-height: 20px;
    color:#000000DE;
    border-top:1px solid #DDDDDD;
    
}

.learning-time-form{
    display:flex;
    align-items:center;
    justify-content: space-between;

}

.learning-time-input{
    width:160px;
    height:40px;
    font-size:14px;
    border:1px solid #0000003B;
    border-radius: 4px;
    padding-left:12px;
}

.save-learningTime-btn{
    width:158px;
    height:32px;
    line-height: 32px;
    text-align: center;
    color:#1B5678;
    background-color:#FFFFFF ;
    font-size: 14px;
    border:1px solid #1B5678;
    border-radius: 4px;

    transition: none;
    appearance: none;
   -webkit-appearance: none;
}

.save-learningTime-btn:hover{
    cursor: pointer;
}

.delete-form{
    display:flex;
    align-items: center;
}

.delete-btn{
    width:88px;
    height:32px;
    color:#FFFFFF;
    background-color:#EE6969;
    font-size:14px;
    border-radius: 4px;
    line-height: 32px;
    text-align: center;

    transition: none;
    appearance: none;
   -webkit-appearance: none;

}

/*modal*/
.modal{
    position:fixed;
    top:0;
    left:0;

    width:100%;
    height:100%;

    background: #00000099;


    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.data-add-modal{
    width:640px;
    height:240px;
    padding:40px;

    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

.data-add-modal p{
    font-size: 18px;
    font-weight:bold;
    color:#000000BF;
    text-align: center;
    margin:0 auto 40px auto;
    overflow-wrap: break-word;
}

.back-to-learningDataPage-btn{
    width:192px;
    height:48px;
    margin:0 auto;
    text-decoration: none;
}

/*footer*/
footer{
    background-color:#1B5678;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer p{
    display:inline-block;
    color:#FFFFFF;
    font-size:18px;
    margin:0;
}