* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
}

li{
    list-style:none;
}

.container{
    max-width:1440px;
    width:100%;
    margin:0 auto;
}

/*エラー文字を赤に*/
.err {
    color: red;
    margin-bottom:20px;
}

.btn{
    color:white;
    background-color:#1B5678;
    display:block;
    height:53px;
    width:268px;
    border-radius:4px;
    font-size:18px;
    margin:auto;
    line-height:53px;
    text-align:center;
    text-decoration: none;
    transition:none;
    
    border: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover{
    cursor: pointer;
}

/*header*/
header{
    width:100%;
    height:120px;
    background-color:#1B5678;
    text-align:center;
    align-items: center;
    display:flex;
}

header h2{
    color:#FFFFFF;
    font-weight:bold;
    font-size:36px;
    height:42px;

}

/*main*/
.login-main{
    text-align:center;
    width:100%;
    padding-bottom:310px;
}

.login-main p{
    font-size:36px;
    font-weight:normal;
    margin-top:80px;
    margin-bottom:80px;
}

.form-all{
    text-align:center;
}

.form{
    width: 480px;
    margin:0 auto 48px auto;
}

.form-control{
    width:100%;
    height:36px;
    border:none;
    outline:none;
    border-bottom:1px solid #000000;
    font-size:16px;
    padding:10px 0;
}

.form-label{
    font-size:12px;
    line-height:12px;
    text-align:left;
    display:block;
}

.btn-login{
    margin-bottom:48px;
    transition:none;
}

.btn-login:active{
    transform:none;
}


/*footer*/
footer{
    background-color:#1B5678;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer p{
    display:inline-block;
    color:#FFFFFF;
    font-size:18px;
    margin:0;
}


