* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
}

li{
    list-style:none;
}

.container{
    max-width:1440px;
    width:100%;
    margin:0 auto;
}

/*エラー文字を赤に*/
.err {
    color: red;
    text-align:left;
}

.btn{
    color:white;
    background-color:#1B5678;
    display:block;
    border-radius:4px;
    font-size:18px;
    margin:auto;
    line-height:53px;
    text-align:center;
    border: none;
    text-decoration: none;
    padding:0;
}

.btn:hover{
    cursor: pointer;
}

/*header*/
header{
    /*display: flex;*/
    width:100%;
    height:120px;
    background-color:#1B5678;
    text-align:center;
}

header h2{
    color:#FFFFFF;
    font-weight:bold;
    font-size:36px;
    height:42px;
    margin:39px 40px;

}

.header-left{
    float:left;
}

.logout-btn{
    color:#000000BF;
    background-color: white;
    font-size:18px;
    height:53px;
    width:170px;
    float:right;
    border-radius:4px;
    margin:34px 40px 33px 40px;
    
    /*以下でbtn内の文字を中央に*/
    line-height:53px;
    text-align:center;

    transition: none;
    border: none;
    padding: 0;
    appearance: none;
   -webkit-appearance: none;
}

.logout-btn:hover {
    cursor: pointer;
}

/*main*/
.main{
    padding-top:80px;
    padding-bottom:81.5px;
}

.profile{
    width:960px;
    height:427px;
    display:flex;
    align-items: center;
    gap:80px;
    margin:auto;
    position:relative;
}


.avatar-image,
.avatar-image-default{
    width: 360px;
    height: 360px;
    border-radius: 50%;
    margin-top: 0;
}


.avatar-image{
    display:block;
    object-fit: cover;
}

.avatar-image-default{
    display:block;
    background-color: #d9d9d9;
}

.self-introduction{
    display: block;
    position: absolute;
    top:52px;
    left:440px;
}

.self-introduction h2{
    font-size: 36px;
    width:240px;
    padding-bottom: 16px;
    border-bottom: 2px solid #00000080;
    margin-bottom:32px;
    margin-top:0;
    text-align:left;
}


.self-introduction .message{
    width:520px;
    font-size:18px;
    margin-bottom: 32px;
    overflow-wrap: break-word;
}

.self-introduction .message-default{
    height:81px;
    width:520px;
    margin-bottom: 32px;
}

.introduction-edit-btn{
    height:53px;
    width:242px;
    line-height:53px;
    text-align:center;
    margin-left:0;
    margin-right:auto;
}

.avatar-name{

    width: 360px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:0;
    font-size: 20px;

}

.chart-info {
    padding-top: 53px;
    padding-bottom:31px;
}


.chart-header{
    display:block;
    width:400px;
    margin:auto;
}

.chart-header h2{
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 16px;
    border-bottom: 2px solid #00000080;
    margin:0 0 40px 0;
    text-align:center;
}

.skill-edit-btn{
    height:53px;
    width:152px;
    line-height:53px;
    text-align:center;
}

.chart-graph{
    width: 1081px;
    height:532.5px;
    display: block;
    margin:0 auto;
    padding:20px;
}





/*footer*/
footer{
    background-color:#1B5678;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer p{
    display:inline-block;
    color:#FFFFFF;
    font-size:18px;
    margin:0;
}


