<!DOCTYPE HTML>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <title>top-loggedIn</title>
    <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8"/>
    <link th:href="@{/css/top.css}" rel="stylesheet">
</head>

<body>
     <header>
        <div class = "container">
            <div class = "header-left">
                <h2>My Portfolio</h2>
            </div>
            <div class = "header-right">
                <form method = "post" th:action = "@{/logout}">
                    <input type="submit" class = "logout-btn" value = "ログアウト" />
                </form>
            </div>
            
        </div>
    </header>

    <h2>Top画面</h2>

    <footer>
        <div class = "container">
            <p th:text = "${userName}">portfolio site</p>
        </div>
    </footer>

</body>    