<!DOCTYPE HTML>

<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <title>トップページ</title>
    <meta http-equiv = "Content-Type" content = "text/html; charset = UTF-8"/>
    <link th:href="@{/css/top.css}" rel="stylesheet">
</head>

<body>
     <header>
        <div class = "container">
            <div class = "header-left">
                <h2>My Portfolio</h2>
            </div>
            <div class = "header-right">
                <form method = "post" th:action = "@{/logout}">
                    <input type="submit" class = "logout-btn" value = "ログアウト" />
                </form>
            </div>
            
        </div>
    </header>

    <div class = "main">
        <div class = "container">
            <div class = "profile">
                <div class = "avatar-images">
                    <img th:if = "${user.avatarImage != null}"
                        th:src="@{/profile-images/{fileName}(fileName = ${user.avatarImage})}"
                        class = "avatar-image">
                    
                    <div th:unless = "${user.avatarImage != null}"
                        class = "avatar-image-default">
                    </div>

                    <p class = "avatar-name" th:text = "${user.name}"></p>
                </div>

                <div class = "self-introduction">
                    <h2>自己紹介</h2>

                    <div th:if = "${user.selfIntroduction != null}" th:text = "${user.selfIntroduction}" class = "message"></div>
                    <div th:unless = "${user.selfIntroduction != null}"  class = "message-default"></div>

                    <a th:href="@{/profile-edit}" class = "btn introduction-edit-btn">自己紹介を編集する</a>

                </div>
                
            </div>
        </div>


        <div class = "chart-info">
            <div class = "container">
                <div class = "chart-header">
                    <h2>学習チャート</h2>

                    <a th:href= "@{/learningData}" class = "btn skill-edit-btn">編集する</a>
                </div>
            </div>
        </div>

        <div class = "chart-graph">
            <div class = "chart-graph-area">
                <canvas id = "learningChart"></canvas>
                <script src = "https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script th:inline = "javascript">
                    const ctx = document.getElementById("learningChart");

                    new Chart(ctx,{
                        type:"bar",

                        data:{
                            labels:["先々月","先月","今月"],
                            datasets:[
                                {
                                    label:"バックエンド",
                                    data:[
                                        [[${twoMonthsAgoBackend}]],
                                        [[${lastMonthBackend}]],
                                        [[${currentMonthBackend}]]
                                    ],
                                    backgroundColor: "rgba(245, 169, 184, 0.7)",
                                },
                                {
                                label:"フロントエンド",
                                    data:[
                                        [[${twoMonthsAgoFrontend}]],
                                        [[${lastMonthFrontend}]],
                                        [[${currentMonthFrontend}]]
                                    ],
                                    backgroundColor:"rgba(246, 194, 139, 0.7)",
                                },
                                {
                                    label:"インフラ",
                                    data:[
                                        [[${twoMonthsAgoInfra}]],
                                        [[${lastMonthInfra}]],
                                        [[${currentMonthInfra}]]
                                    ],
                                    backgroundColor: "rgba(248, 223, 161, 0.7)",
                                }
                                
                            ]
                        },

                        options:{
                            scales:{
                                x: {
                                    ticks: {
                                        font: {
                                            weight: "bold"
                                        }
                                    }
                                },
                                y:{
                                    beginAtZero:true,
                                    suggestedMax:100,

                                    ticks:{
                                        stepSize:10
                                    }
                                }
                            },

                            plugins:{
                                title:{
                                    display:true,
                                    text:"Chart.js Bar Chart",
                                    font:{
                                        weight:"bold"
                                    },
                                    padding: {
                                        top: 0
                                    }

                                }
                            }
                        }
                    })
                </script>
            </div>
        </div>
    </div>




    <footer>
        <div class = "container">
            <p th:text = "${userName}">portfolio site</p>
        </div>
    </footer>

</body>    